/* couleur de la navbar */
.navbar{
    background-color: #987654 !important;
}

/* couleur du texte de la navbar */
.nav-link, .navbar-brand{
    color: #88130a !important;
}

/* couleur du background */
body{
    background-color: #d6c9ba !important;
}

/*
bordeaux : #88130a
*/